#pop,#pop-2{width: 100%;height: 100%;position: fixed;z-index: 999;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);display: none;}
.prompt{width: 90px;display: inline-block;}
.input_div{margin: 20px;font-size: 20px; vertical-align: middle;width: 200px;display: inline-block;}
#pop .pop-box,#pop-2 .pop-box{width:900px;height: 700px;position: absolute;background: #FFFFFF;top: 50%;left: 50%;transform: translate(-50%,-50%)}
#pop .pop-box .pop-top,#pop-2 .pop-box .pop-top{height: 40px;background: cornflowerblue;box-shadow: 0 2px 5px 2px; }
#pop .pop-top .top-text,#pop-2 .pop-top .top-text{font-size: 16px;line-height: 40px;padding-left: 20px;color: #FFFFFF;}
#pop .pop-box .icon-guanbi,#pop-2 .pop-box .icon-guanbi{cursor: pointer;position: absolute;right: 10px;top: 10px;color: #FFFFFF;}
#pop .pop-box .pop-main,#pop-2 .pop-box .pop-main{margin: 10px;width: 880px;height: 580px;border: 1px solid #e5e5e5;position: absolute;top: 40px;display: flex;flex-direction: column;}
#pop .pop-main .input-box,#pop-2 .pop-main .input-box{padding: 50px;vertical-align: middle;text-align: center;font-size: 16px;}
#pop .input-box label,#pop-2 .input-box label{font-size: 16px;vertical-align: middle;height: 24px;}
#pop .input-box .form-text,#pop-2 .input-box .form-text{width: 200px;border-bottom: 1px solid silver; margin: 20px;font-size: 20px; vertical-align: middle;}
#pop .input-box .form-radio,#pop-2 .input-box .form-radio{font-size: 20px;vertical-align: middle;height: 24px;margin-left: 20px;}
#pop .input-box span,#pop-2 .input-box span{font-size: 12px;color: red;}
#pop .pop-box .pop-bottom,#pop-2 .pop-box .pop-bottom,#pop-goods .pop-box .pop-bottom{height: 60px;width:100%;position: absolute;bottom: 0;background-color: #FFFFFF;box-shadow: 0 -1px 5px;}
#pop .button,#pop-2 .button{height: 40px;width:100px;position:absolute;top:10px;color:#FFFFFF;border-radius: 10px;box-shadow:0 2px 3px 1px #666666;background-color: #2c3c50;cursor: pointer;transition: all .3s ease-in-out;}
#pop .pop-bottom #empty-button,#pop-2 .pop-bottom #button-one{left: 38%;}
#pop .pop-bottom #empty-button:hover{background-color: deepskyblue;}
#pop .pop-bottom #submit-button,#pop-2 .pop-bottom #button-two{right: 38%;}
#pop .pop-bottom #submit-button:hover{background-color: deepskyblue;}
#pop-2 .pop-bottom .button{background-color: dodgerblue;}
#pop-2 .pop-bottom .button:hover{background-color: deepskyblue;}
#pop-2 .main-header{width: 100%;height: 60px;text-align: center;display: flex;justify-content: center;border-bottom: 1px solid #e5e5e5;}
#pop-2 .main-header .header-li{position: relative;display: inline-block;width: 200px;margin-left: 40px;}
#pop-2 .header-li .header-line{border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;width: 116px;display: inline-block;position: absolute;top: 30px;left: 116px;}
#pop-2 .header-li .header-li-box{display: table-cell;width: 130px;font-size: 14px;height: 60px;vertical-align: middle;line-height: 60px;position: relative;transition: all .3s ease-in-out;color: #a2a2a4;}
#pop-2 .header-li .header-li-box .header-radius{position: absolute;display:inline-block;height: 22px;width: 22px;border-radius: 50%;font-size: 16px;background-color: #a2a2a4;top: 20px;color: #FFFFFF;line-height: 22px;}
#pop-2 .header-li .header-li-box .header-text{margin-left: 30px;}
#pop-2 .pop-main .pop-main-content{width: 100%;overflow-y: auto;height: 89%;}
/*文本输入*/
#pop-2 .pop-main .div-text{position: relative;width: 340px;margin-left: 60px;margin-top: 16px;background-color: #FFFFFF;font-size: 14px;border-bottom: 2px solid #e5e5e5;}
#pop-2 .pop-main .div-text:hover{border-bottom:2px solid cornflowerblue;}
#pop-2 .pop-main .div-text.text-area{width: 680px;height: 80px;}
#pop-2 .pop-main .div-text.text-area-2{width: 680px;height: 102px;}
#pop-2 .pop-main .div-text .text-title{margin-left: 10px;}
.item_tip {background-color: #fff;color: #999;font-size: 16px;left: 12px;padding: 0 3px;position: relative;top: 25px;transition: all .2s ease-in-out;width: 4%;}
.form_input {font-size:16px;padding:9px 10px;width:278px;outline:none;}
.Error-prompt{position: absolute;display: inline-block;font-size: 14px;text-align: center;width: 100px;right: -100px;color:red;line-height: 28px;height: 28px;}
.item_tip_focus {font-size:16px;top:8px;}
.item_tip_val{color: #999999;}
.item_tip_color{color:cornflowerblue;}
.Rich-text{margin: 20px;font-size: 20px;color: #000000;}
/*弹窗中的下拉弹窗*/
.select-div{
    position: absolute;
    top: 70px;
    left: 20px;
    display: flex;
    align-items: flex-start;
}
.category-select{
    width: auto;
    display: flex;
    align-items: flex-start;
    margin-left: 3px;
    z-index: 20;
    max-height: 100px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-right: 1px solid #f1f1f1;
    box-shadow: 0 1px 5px #999999;
}
.category-select>.category-select-item{
    overflow-y: auto;
}
.item-li{
    padding: 0 20px;
    white-space:nowrap;
}
.item-li.active{
    background-color: #f1f1f1;
}
.item-li a{
    color: #666666;
}
.item-li.active a{
    color: deepskyblue;
}
/*正在编辑*/
#pop-2 .header-li .header-li-box.editing-now{color: #000000;}
#pop-2 .header-li .header-li-box .header-radius.editing-now{background-color: dodgerblue;color: #FFFFFF;}
/*完成编辑*/
#pop-2 .header-li .header-li-box.finish{color: #000000;}
#pop-2 .header-li .header-li-box .header-radius.finish{background-color: dodgerblue;color: #FFFFFF;}
/*按钮禁用*/
#pop-2 .pop-bottom .button.disabled{background-color: #666666;cursor: default;}