<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CategoryMapper">
    <select id="maxID" resultType="int">
        select max(category_id) from goods_category;
    </select>

    <update id="delete" parameterType="int">
        update goods_category set category_status = 0 where category_id = #{id}
    </update>
    <update id="deleteParent" parameterType="int">
        update goods_category set category_status = 0 where parent_id = #{id}
    </update>
    <update id="updateName">
        update goods_category set category_status = 1 where category_name = #{name}
        and parent_id = #{parent} and category_level = #{level};
    </update>
</mapper>